requests==2.31.0
uvicorn==0.27.1
fastapi==0.109.2
pymongo==4.6.1
pydantic==1.10.8
mlflow==2.10.2
opencv-python-headless==4.8.0.74
pillow==9.4.0
numpy==1.24.3
keras==2.15.0
matplotlib==3.7.2
pandas==2.0.3
tensorflow==2.15.0
