<!-- add_patient.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Patient</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles.css') }}">
</head>
<body>

    <h1>Add Patient</h1>

    <form id="patientForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required>

        <label for="gender">Gender:</label>
        <select id="gender" name="gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <input type="file" id="image" onchange="handleFileChange(event)">

        <!-- Add other necessary fields based on the PatientModel -->

        <button type="button" onclick="submitForm()">Submit</button>
    </form>

    <!-- Ajoutez ceci à votre fichier add_patient.html -->
    <script>

        async function handleFileChange(event) {
        const selectedFile = event.target.files[0];
        const fileReader = new FileReader();

        fileReader.onload = function() {
            const arrayBuffer = fileReader.result;
            const byteArray = new Uint8Array(arrayBuffer);
            console.log("Données binaires du fichier sélectionné :", byteArray);

            // Vous pouvez utiliser byteArray comme bon vous semble, par exemple l'envoyer à un serveur, la stocker dans une variable JavaScript, etc.
            const binaryString = byteArray.reduce((str, byte) => str + String.fromCharCode(byte), '');
            document.getElementById('image').setAttribute('data-binary', binaryString);
        };

        fileReader.readAsArrayBuffer(selectedFile);
        }


        async function submitForm() {
            const name = document.getElementById('name').value;
            const age = document.getElementById('age').value;
            const gender = document.getElementById('gender').value;
            const imageBinary = document.getElementById('image').getAttribute('data-binary')


            const response = await fetch('/add_patient', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    name,
                    age,
                    gender,
                    image: imageBinary,
                }),
            });

            if (response.ok) {
                const responseData = await response.json();
                const redirectUrl = responseData.redirect_url;

                // Redirection après l'ajout du patient
                window.location.href = redirectUrl;
            } else {
                // Gérer les erreurs si nécessaire
                console.error('Erreur lors de l\'ajout du patient');
            }
        }
    </script>



</body>
</html>
