<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Patient</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles.css') }}">
</head>

<body>

    <h1>Add Patient</h1>

    <form id="patientForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required>

        <label for="gender">Gender:</label>
        <select id="gender" name="gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <input type="file" id="radio">
     
        <input type="hidden" id="patientId" name="patientId" value="{{ status }}">
       

        <!-- Add other necessary fields based on the PatientModel -->

        <button type="button" onclick="submitForm()">Submit</button>
   
    </form>

    <!-- Ajoutez ceci à votre fichier add_patient.html -->
    <script>

        async function submitForm() {
            const name = document.getElementById('name').value;
            const age = document.getElementById('age').value;
            const gender = document.getElementById('gender').value;
            const fileInput = document.getElementById('radio');
            const file = fileInput.files[0];
            let status = 0; // Initialisation à 0

            const url = '/add_patient';

            if (file !== undefined && file !== null) {
                const reader = new FileReader();
                reader.onload = async function () {
                    const radio = reader.result.split(',')[1];
                    status = 1; // Changement à 1 si un fichier est attaché
                    postData(name, age, gender, radio, status, url);                  
                }
                await reader.readAsDataURL(file);
            } else {
                postData(name, age, gender, "", status, url);
            }
        }

        async function postData(name, age, gender, radio, status, url) {
            const formData = {
                name: name,
                age: age,
                gender: gender,
                radio: radio,
                status: status
            };

            try {
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formData)
                })
                .then(response => response.json())
                .then(data => { 
                    // Rediriger vers la vue des patients après l'édition
                    window.location.href = '/view_patients';
                })
                .catch(error => console.error('Error:', error));

            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>

</body>

</html>
