<!-- edit_patient.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Patient</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles.css') }}">
</head>

<body>

    <h1>Validation Patient {{ patient.name }}</h1>

    <form id="editPatientForm">
        <!-- Ajouter des champs pour éditer les informations du patient -->
        <!-- Afficher les informations du patient -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ patient.name }}" readonly>
        <br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" value="{{ patient.age }}" readonly>
        <br>

        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender" value="{{ patient.gender }}" readonly>
        <br>

        <!-- Ajouter un champ caché pour stocker l'ID du patient -->
        <input type="hidden" id="patientId" name="patientId" value="{{ patient_id }}">
        <br>
        <div>Prédiction : </div><br>
        <div><b>{{ patient.predict_label }} {{ '%.1f' % (patient.predict_score * 100) }}%</b></div><br>
        <img src="data:image/jpeg;base64,{{ patient.radio }}" id="radio_image" name="radio_image">
        <br><br>

        <label for="comment">Commentaire du médecin:</label>
        <input type="text" id="comment" name="comment">
        <br>

        <fieldset>
            <legend>Etes vous d'accord avec le diagnostic du modèle ?</legend>
            <!-- Ajouter un bouton pour soumettre le formulaire -->
            <button type="button" class="oui_val" onclick="validation(true)">Oui</button>
            <button type="button" class="non_val" onclick="validation(false)">Non</button>
        </fieldset>
    </form>

    <!-- Ajouter le script JavaScript pour gérer la soumission du formulaire -->
    <!-- Ajouter le script JavaScript pour gérer la soumission du formulaire -->
    <script>
    
        async function validation(valid) {
            const id = document.getElementById('patientId').value;
            const comment = document.getElementById("comment").value;

            const formData = {
                    comment: comment,
                };

            try {
                const response = await fetch('/add_validation/' + id + '/' + valid, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formData)
                })
                    .then(response => response.json())
                    .then(data => {
                        // Rediriger vers la vue des patients après l'édition
                        window.location.href = '/view_patients';
                    })
                    .catch(error => console.error('Error:', error));

            } catch (error) {
                console.error('Error:', error);
            }
        };


    </script>

</body>

</html>