<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Patients</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles.css') }}">
</head>

<body>
    <h1>View Patients</h1>

    <a href="{{ url_for('add_patient') }}">Add Patient</a>

    <h2>Dossiers en attente de scanner</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            {% if patient.status == 0 and patient.radio == "" %} <!-- a modifier en status == 0 lorsque ce statut sera operationnel-->
                <tr>
                    <td>{{ patient.name }}</td>
                    <td>{{ patient.age }}</td>
                    <td>{{ patient.gender }}</td>
                    <td>
                        <a href="{{ url_for('edit_patient', patient_id=patient.id) }}">Edit</a><br>
                        <a href="#" class="delete-button" data-patient-id="{{ patient.id }}">Supprimer</a>
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <div class="table-container">
        <div>
            <h2>Dossiers en attente de confirmation expert médical</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Action</th>
                        <th>Image</th>
                        <th>Prediction IA</th>
                    </tr>
                </thead>
                <tbody>
                    {% for patient in patients %}
                    {% if patient.status == 0 and patient.radio != "" %} <!-- a modifier en status == 1 lorsque ce statut sera operationnel-->
                        <tr>
                            <td>{{ patient.name }}</td>
                            <td>{{ patient.age }}</td>
                            <td>{{ patient.gender }}</td>
                            <td>
                                <a href="{{ url_for('edit_patient', patient_id=patient.id) }}">Edit</a><br>
                                <a href="{{ url_for('view_patient', patient_id=patient.id) }}">Voir patient</a><br>
                                <a href="{{ url_for('add_validation', patient_id=patient.id) }}">Validation</a>
                                <a href="#" class="delete-button" data-patient-id="{{ patient.id }}">Supprimer</a>                                
                            </td>
                            <td><img src="data:image/jpeg;base64,{{ patient.radio }}" id="radio_image" name="radio_image"></td>
                            <td>{{ patient.predict_label}}  {{ patient.predict_score *100 }}%</td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <h2>Dossiers expertisés</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Action</th>
                        <th>Image</th>
                        <th>Prediction IA</th>
                        <th>Convergence IA/Expert</th>
                        <th>Rapport</th>
                    </tr>
                </thead>
                <tbody>

                    {% for patient in patients %}
                    {% if patient.status == 2 %}
                    <tr>
                    <tr>
                        <td>{{ patient.name }}</td>
                        <td>{{ patient.age }}</td>
                        <td>{{ patient.gender }}</td>
                        <td>
                            <a href="{{ url_for('edit_patient', patient_id=patient.id) }}">Edit</a><br>
                            <a href="{{ url_for('view_patient', patient_id=patient.id) }}">Voir patient</a><br>
                            <a href="{{ url_for('add_validation', patient_id=patient.id) }}">Validation</a>
                            <a href="#" class="delete-button" data-patient-id="{{ patient.id }}">Supprimer</a>
                        </td>
                        <td><img src="data:image/jpeg;base64,{{ patient.radio }}" id="radio_image" name="radio_image"></td>
                        <td>{{ patient.predict_label}}  {{ patient.predict_score *100 }}%</td>
                        <td>{{ patient.validation }}</td>
                        <td>{{ patient.rapport }}</td>
                    </tr>
                    </tr>
                    {% endif %}
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div> 
    <script>
        document.addEventListener("DOMContentLoaded", function() {
    // Ajoutez un gestionnaire d'événements aux boutons de suppression
    var deleteButtons = document.querySelectorAll(".delete-button");
    deleteButtons.forEach(function(button) {
        button.addEventListener("click", function() {
            var patientId = button.getAttribute("data-patient-id");
            // Envoyez une requête POST pour supprimer le patient
            fetch(`/delete_patient/${patientId}`, {
                method: "POST"
            }).then(function(response) {
                // Redirigez l'utilisateur vers la page de visualisation des patients après la suppression
                window.location.href = "/view_patients";
            }).catch(function(error) {
                console.error("Une erreur s'est produite lors de la suppression du patient :", error);
            });
        });
    });
});

    </script>      
</body>

</html>
