<!-- edit_patient.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Patient</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles.css') }}">
</head>
<body>

<h1>View Patient {{ patient.name }}</h1>

<form id="editPatientForm">
    <!-- Ajouter des champs pour éditer les informations du patient -->
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required value="{{ patient.name }}" readonly>
    <br>

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" required value="{{ patient.age }}" readonly>
    <br>

    <label for="gender">Gender:</label>
    <input type="text" id="gender" name="gender" value="{{ patient.gender }}" readonly>
    <br><br>

    <div>Prédiction : </div><br>
    <div><b>{{ patient.predict_label}}  {{ patient.predict_score }}%</b></div><br>

    <!-- Ajouter un champ caché pour stocker l'ID du patient -->
    <input type="hidden" id="patientId" name="patientId" value="{{ patient_id }}">
    <br>
    <img src="data:image/jpeg;base64,{{ patient.radio }}" id="radio_image" name="radio_image">
    <br><br>
    <button type="button" onclick="printdDoc()">Imprimer le rapport</button>
    <br><br>

</form>
<script>
    async function printDoc() {
        const status = document.getElementById('status').value
        if (status == 2) {window.print()} 
    return
        };
</script>


</body>
</html>
