/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2, h3 {
    color: #333;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#radio_image{
width: 75px;
height: 75px;
}

.non_val{
    background-color: coral;
}

.non_val, .oui_val{
    width: 60px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    /* width: 100%; */
    width: auto;
    table-layout: auto; /* Adapter la largeur des colonnes au contenu */
    max-width: 50%; /* Définir une largeur maximale pour la table */
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
    /* Supprimer la largeur fixe des cellules pour permettre l'adaptation au contenu */
    width: auto;
}

th {
    background-color: #4caf50;
    color: white;
}
